/*Fonts*/
@font-face {
  font-family: "Roboto"; 
  src: url(../fonts/roboto.woff2) format("woff2"),
      url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
  font-style: normal;   
}    

/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;    
  --basic-dark: #eeeeee;
  --basic-modal: #444444;
  --buton-red: #fb565a;
  --buton-green: #00ca74;
  --buton-yellow: #efc849;
  --basic-neutral: #4d4d4d;   
}
  
 /* Global */
.page-body {
  max-width: 1440px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;   
  background-position: top center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;  
}

a {
  text-decoration: none;
} 
 
.list-unstyle {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}
 
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main header */
.main-header {
  background-color: var(--basic-dark);
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-header .container {
  display: flex;
  align-items: flex-end;  
}

/* logo */
.logo {
  width: 160px;
  height: 65px;
  margin-top: 49px;
  margin-right: 202px;
}

.basket {
  margin-left: auto;
  margin-bottom: 9px;
}

/* Main navigation */
.site-navigation {
  display: flex; 
  flex-wrap: wrap;
  margin-bottom: 9px;
}

.site-navigation li:not(:last-of-type) {
  margin-right: 45px;
}

.site-navigation-current {
  border-bottom: 2px solid var(--buton-red); 
}

.site-navigation a,
.site-link {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-link:hover,
.site-link:focus {
  background-color: var(--basic-dark);
}

/* Login link */
.site-link {
  position: relative;
  padding-left: 40px;
}

.site-link::before {
  content: "";
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
}

/* Main slider*/
.slide {
  display: none;
}

.slide-active {
  display: block;
}

.slider {
  background-color: var(--basic-dark); 
  position: relative;
}

.slider-itm {
  min-width: 940px;
  padding-top: 78px; 
  padding-bottom: 80px;
}

.slider-1 {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat; 
  background-position:top right;  
}

.slider-2 {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat; 
  background-position:top right; 
} 

.slider-3 {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat; 
  background-position:top right;
} 

.slider-text {
  margin: 0 auto;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;  
}

.slider-text-mini {
  margin-top: 25px;
  margin-bottom: 38px;
}

.push-button {
  /*display: inline-block;*/
  max-width: 81px;
  padding: 16px 40px;
  background-color: var(--buton-red);
  border-radius: 3px; 
  text-align: center;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;   
}

.btn-slide {  
  min-width: 132px;   
  padding: 16px 54px; 
}

.btn-slide:hover,
.btn-sllide:focus:focus,
.btn-slide:active {
  background-color: #e74246;
}

.btn-slide.disabled,
.btn-slide:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #d7373b;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  z-index: 20; /*чтобы кнопки были поверх всего слайдера*/
}

.slider-controls button:not(:last-of-type) {
  margin-right: 17px;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white) ;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color:  var(--basic-dark);
}

/*services*/
.services {
  padding: 80px 0;  
  border-bottom: 2px solid #eeeeee;
}

.services-list {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px; 
  padding-right: 60px;      
}

.services-item {  
  display: flex;
  flex-direction: column;  
}

.block-web {
  min-width: 300px;
  min-height: 146px;
  background: url("../img/illustration-1.png");                                                   
}

.block-apps {
  min-width: 300px;
  min-height: 146px;  
  background: url("../img/illustration-2.png")                                                    
}

.block-presentation {
  min-width: 300px;
  min-height: 146px; 
  background: url("../img/illustration-3.png");                                                   
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 25px 0 0 0;
}

.services-item p {
  margin: 16px 0 80px 0;  
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  background-color: #e74246;
}

.btn-red.disabled,
.btn-red:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #d7373b;
}

.btn-green {  
  background-color: var(--buton-green);
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active {
  background-color: #00bc6c;
}

.btn-green.disabled,
.btn-green:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #00aa62;
}

.btn-yellow { 
  background-color: var(--buton-yellow);
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active {
  background-color: #eab534;
}

.btn-yellow.disabled,
.btn-yellow:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #e5a722;
}

/* advantage */
.advantage { 
  display: flex;
  justify-content: space-between; 
  border-bottom: 2px solid #eeeeee;
  padding: 39px 0 75px 0;
}

.advantage-text h2 {  
  font-weight: 500;
  font-size: 45px;
  line-height: 45px; 
  margin-top: 34px;
  margin-bottom: 32px;
}

.advantage-text p { 
  margin: 0;
  padding: 0;
}

.advatage-itm {
  display: flex;
  align-items: center;
  margin-top: 23px;
}

.advatage-itm::before {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--buton-red);
  margin-right: 7px;
}

.advantage-text h4 {  
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; 
  margin-top: 40px;
}

.advantage-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage-tabl h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 34px;
}

.advantage-list li { 
  display: flex;
  flex-basis: 50px;
  flex-wrap: wrap;
}

.advantage-number { 
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.advantage-percent {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.advantage-number p {
  max-width: 110px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 10px 0 0 0;
  padding: 0;
}

/*logo*/
.projects {
  padding: 42px 0; 
  border-bottom: 2px solid #eeeeee; 
  margin-bottom: 80px;
}
  
.projects-list {
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

/* Contacts */
.contacts {
  position: relative;
}

.contacts img {
  width: 1440px;
  height: 416px;
 }

.contacts-block {
  padding: 48px 50px;
  position: absolute;
  background-color: var(--basic-white);
  left: 140px;
  top: 50%; 
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.contacts-phone {
  color: inherit;
}

.contacts h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase; 
  margin: 0 0 22px 0;  
}

.contacts-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  margin: 0 0 37px 0;    
}

.btn-contacts {  
  min-width: 131px;
  padding: 16px 44px;
}  
  
.btn-contacts:hover,
.btn-contacts:focus:focus,
.btn-contacts:active {
  background-color: #e74246;
}  

.btn-contacts.disabled,
.btn-contacts:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #d7373b;
}  

/* Main footer */
.main-footer {
  display: flex; 
  align-items: center;
}
.social {
  margin: 68px 0;
}

.social ul {  
  display: flex;
}

.social li {
  display: flex;        
}

.social li:not(:last-of-type) {
  margin-right: 9px;
}

.social-button {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--basic-dark);
}

.social-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}

.social-button:hover path,
.social-button:focus path {
  fill: var(--basic-black);
}

.text-footer {
  margin-left: 138px;  
  display: flex;
  flex-direction: column;
}

.text-footer h2 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.text-footer p {
  margin: 10px 0 0 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

/* Modal close */
.appoiment-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* Modal*/

.appoiment {
  display: none;
}

.appoiment {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.appoiment-login {
  top: 120px;
  bottom: auto;
  width: 960px;    
}

.appoiment-form { 
  padding: 63px 99px 84px;
  display: grid;  
}

.appoiment h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
}

.appoiment-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;  
}

.appoiment-form p {
  margin: 34px 0 0 0;
  display: grid; 
  grid-template-columns: 1fr;
}

.appoiment-item label {
  display: block;
  margin-bottom: 9px;  
}

.appoiment-item input,
.appoiment-item textarea {
  font: inherit;
  background-color: transparent;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px;  
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-black);
}

.appointment-item input:focus {
  border-color: var(--special);
}

.btn-form {  
  margin-top: 47px;
  margin-right: auto;
  min-width: 259px;
  padding: 16px 53px;
  border: none;
}

.btn-form:hover,
.btn-form:focus,
.btn-form:active {
  background-color: #e74246;
}

.btn-form.disabled,
.btn-form:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #d7373b;
}

/* catalog*/
.main-heading {  
  background-color: var(--basic-dark); 
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin: 0;
  padding-top: 72px; 
  padding-bottom: 108px;
}

.page-catalog {
  display: grid;  
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  margin-top: 56px;
  margin-bottom: 60px;
} 

/*filter*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 54px;
}

.filter-item legend {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}
/*breadcrumbs*/

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
}

.breadcrumbs h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0; 
  margin-right: 266px; 
}

.breadcrumbs ul {
  display: flex; 
  flex-wrap: wrap;
  margin: 0;
  text-transform: uppercase;
  align-content: center;
}

.breadcrumbs li:not(:last-of-type) {
  margin-right: 25px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;  
}
.breadcrumbs-ncurrent {
  opacity: 0.3;
}

.breadcrumbs-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;  
  position: absolute;
  top: 0px;
  right: 40px;
  width: 11px;
  height: 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: none;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}

/*filters*/
.filter {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 48px;
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-option {
  padding-top: 16px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-neutral);
  opacity: 0.4;
  /*transform: translateY(-50%);*/
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -32px;
  width: 21px;
  height: 17px;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
  /*transform: translateY(-50%);*/
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: -6px;
  width: 21px;
  height: 21px;
  border: 4px solid var(--basic-neutral);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 4px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-neutral);
  border-radius: 50%;
  opacity: 0.4;
}
/*у меня получается оформить кнопку только 
таким дурацким способом. Теория здесь не срабатывает. 
Почему?*/
.btn-gray {
  min-width: 83px;
  border: none;
  padding: 16px 88px;
  color: var(--basic-black);
  background-color: var(--basic-dark);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px; 
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active {
  background-color: #dfdfdf;
}

.btn-gray.disabled,
.btn-gray:disabled {
  cursor: default;
  opacity: 0.5;
  background-color:  #d5d5d5;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: flex-start;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  margin: 0;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 17px;
  color: var(--basic-black);
  background-color: var(--basic-dark);
  background:var(--basic-dark);
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-dark);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--special);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.btn-pagination {
  min-width: 105px;
  padding: 16px 77px;  
  border-radius: 3px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-dark);
}

/*catalog*/
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 55px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 30px;
  position: relative;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.card-head {
  background-color: #4d4d4d;
  opacity: 0.12;
  padding-top: 13px;
  padding-bottom: 13px;  
}

.card-path {
  display: flex;  
  padding-left: 15px;
}

.card-path li {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;    
}

.card-path li:not(:last-of-type) {
  margin-right: 9px;
}

.catalog-price {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-dark);
  position: absolute;
  bottom: 0;
  padding: 26px 52px 44px 52px;
}

.catalog-price h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);  
  text-align: center;
  margin: 0;
}

.catalog-price p {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 32px;
  margin: 0;
}
/*у меня получается оформить кнопку только 
таким дурацким способом. Теория здесь не срабатывает. 
Почему?*/
.btn-card { 
  min-width: 56px;
  padding: 16px 40px;
  background-color: var(--buton-red);
  border-radius: 3px; 
  text-align: center;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;  
}

.modal-list a {
  color: var(--basic-white);
}

.modal-list a:hover,
.modal-list a:focus {
  background-color: var(--basic-dark);
}

.card-head:hover {
  opacity: 1;
}
